
<h1 class="text-center" ><b  class="text-danger">Shipping Station {{Station}}</b></h1>

<div class="clearfix"></div>
{{#Granted}}
{{#Configured}}
<div class="row" id="StnScreen">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<div class="container">
			<div class="jumbotron">
		
				<div id="normal">
				
				  <div class="row">
					  <div class="col-lg-4"></div>
					  <div class="col-lg-4">
						  {{#ProductionData}}
					  <div><h3 ><label><b>Production Batch</b></label>&nbsp;&nbsp;<label id="Production_Batch" class="text-primary">{{Production_Batch}}</label></h3></div>
					  {{/ProductionData}}	
				  </div>
				  </div>
				  <div class="row">
					  <div class="col-lg-4"></div>
					  <div class="col-lg-4">
						  {{#ActiveWaybillData}}
					  <div><h3 ><label><b>ActiveWaybill</b></label>&nbsp;&nbsp;<label id="ActiveWaybill" class="text-primary">{{ActiveWaybill}}</label></h3></div>
					  {{/ActiveWaybillData}}	
				  </div>
				  </div>

				  <div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						{{#CartonsData}}
					<div><h3 ><label><b>Cartons</b></label>&nbsp;&nbsp;<label id="Cartons" class="text-primary">{{Cartons}} of {{CartonsTotal}}</label></h3></div>
					{{/CartonsData}}	
				</div>
				</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div style="text-align:center;"><h1 id="Message" style="color: red;">{{STN_MSG}}</h1></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
					  {{#StationActionData}}
						<div style="text-align:center;"><h3 id="Heading" ><b>{{STATION_ACTION}}</b></h3></div>
						{{/StationActionData}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
					  {{#InputData}}
						<form action="/API/{{StationAction}}" method="post" enctype="multipart/form-data" id="myForm">
							<div style="text-align:center;"><input type="text" class="form-control form-control-lg" id="Input" name="Input" autofocus></div>
						</form>
						{{/InputData}}
					</div>
				 </div>
				
					<br/>
					<div class="row">
						<div class="col-lg-4"></div>
					<div class="col-lg-4">
							  {{#CompleteData}}
							  <a id="btnComplete" class="btn btn-info btn-lg" href="/API/ShippingStationCompleteShipper" onclick="return confirm('Are you sure you want to complete the shipment?');">Complete Shipper</a>
							  {{/CompleteData}}
						   </div>
						  </div>

					<div class="row">
						<div class="col-lg-4">
						{{#Reset}}
						<a id="btnReset" class="btn btn-info btn-lg" href="/API/ShippingStationReset" onclick="return confirm('Are you sure you want to reset?');">Reset</a>
						 {{/Reset}}
					  </div>
					
					  <div class="col-lg-4"></div>
					  <div class="col-lg-4">
						 {{#Reprint}}
						 <a id="btnReprint" class="btn btn-info btn-lg" href="/API/ShippingStationReprintDoc" onclick="return confirm('Are you sure you want to reprint the document?');">Re-Print Document</a>
						 {{/Reprint}}
					  </div>   
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-1"></div>
	<input type="hidden" id="StnNo" name="StnNo" value="{{Station}}">
	<input type="hidden" id="StationAction" name="StationAction" value="{{StationAction}}">
</div>
 {{/Configured}}
 {{^Configured}}
 <div class="row">
	<div class="jumbotron">
		<div class="col-sm-12">
			<div style="text-align:center;"><h3 class="text-danger"><b>STATION NOT CONFIGURED | IP [{{StnIP}}]</b></h3></div>
		</div>
	</div>
 </div>
 {{/Configured}}
 {{/Granted}}
 {{^Granted}}
 <div class="row">
	<div class="jumbotron">
		<div class="col-sm-12">
			<div style="text-align:center;"><h3 class="text-danger"><b>USER NOT AUTHERISED</b></h3></div>
		</div>
	</div>
 </div>
 {{/Granted}}
 <script>
   $('#myForm').submit(function() {
	   $("#Input").prop('readonly', true);
   });
 </script>